apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: spaceurgent/order-service-ai:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: config
                  key: db-url
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: pg-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: pg-password
            - name: OPEN_AI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: open-ai-api-key
            - name: OPEN_AI_MODEL_NAME
              valueFrom:
                configMapKeyRef:
                  name: config
                  key: open-ai-model-name
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080